// Fuentes
$font_mono: 'Geist Mono', monospace;
$font_default: 'Geist', sans-serif;

// Colores
$white: #ffffff;
$gray-50: #f6f7f8;
$gray-100: #eaecef;
$gray-200: #dadee3;
$gray-300: #cad0d7;
$gray-400: #a2acb8;
$gray-600: #7a8396;
$gray-700: #6d7488;
$gray-800: #5c6171;
$gray-950: #2f3137;
$orange-50: #fff9eb;
$orange-100: #fdeec8;
$orange-300: #fac04f;
$orange-400: #f9a825;
$orange-500: #f3850d;
$orange-600: #d76208;
$orange-700: #b2420b;
$orange-800: #91330f;